body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
li{
    list-style-type: none;
}
ul,td{
    margin: 0;
    padding: 0;
}
.body{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.header{
    background-color:tomato;
    text-align: center;
    font-size: 50px;
    padding: 15px;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 25px;
    width: 100%;
    padding-bottom: 3%;
}
.formHeader{
    text-align: center;
    color: white;
    font-size: 35px;
    padding-bottom: 10%;
}
.label{
    font-size: 20px;
    color: white;
}
.labelInfo{
    font-size: 15px;
    color:#FADBD8;
}
.inputField{
    height: 22px;
    width: 250px;
    font-size: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.formDiv{
    margin-left: 20%;
    margin-right: 20%;
    padding: 10%;
    /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
    background: linear-gradient(90deg, #d53369 0%, #3d2ae6 100%);
    border-radius: 10px;
}
.pageHeader{
    text-align: center;
    background-color: tomato;
    color: black;
    font-size: 35px;
    padding: 30px;
}
.homeListItem{
    height: 30px;
    width: 200px;
    background-color: tomato;
    color: white;
    text-align: center;
    border-top: 0.5px solid white;
    padding: 10px;
}
.homeListItem:hover{
    background-color: red;
}
.navButton{
    background-color: tomato;
    padding: 10px;
}
.content{
    margin: -3px;
    padding: 0;
}
.contentBox{
    border-top: 1px solid white;
    width: 547px;
    background-color:tomato;
    padding-top: 5px;
}
.contextBoxValue{
    text-align: left;
}
.contentBoxForm{
    margin-left: 25%;
}
.contentBoxLabel{
    font-size: 20px;
    padding-bottom: 3%;
    padding-top: 3%;
}
.contentBoxInput{
    font-size: 15px;
    height: 25px;
    width: 250px;
}
.contentBoxInfo{
    font-size: 15px;
    color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    display: inline-block;
}
.contentBoxSelect{
    height: 25px;
    width: 200px;
    border-radius: 5px;
    font-size: 20px;
    background-color: white; 
}
.contentText{
    text-align: center;
    font-size: 25px;
}
    /* buttons here */

.success{
    height: 40px;
    width: 100px;
    font-size: 20px;
    color: white;
    background-color: #28B463;
    transition-duration: 0.4s;
    border-style: none;
    border-radius: 5px;
}
.success:hover{
    color: #28B463;
    background-color: white;
}
.danger{
    height: 40px;
    width: 100px;
    font-size: 20px;
    color: white;
    background-color: #CB4335;
    transition-duration: 0.4s;
    border: 1px solid white;
    border-radius: 5px;
}
.danger:hover{
    color:#CB4335;
    background-color: white;
}
.neutral{
    height: 40px;
    width: 100px;
    font-size: 20px;
    color: white;
    background-color: #2471A3;
    transition-duration: 0.4s;
    border-style: none;
    border-radius: 5px;
}
.neutral:hover{
    color: #2471A3;
    background-color: white;
}
.logout{
    display: inline-block;
    margin-left: 72.4%;
}
.back{
    display: inline-block;
}
.optionSelect{
    width: 200px !important;
}